.pagination-circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pagination {
    display: flex;
}
.pagination-circle.active {
    background-color: #D294BB ;
    color: white; 
  }