div h3.title {
    color: #873260;
    text-transform: capitalize;
    font: bold 30px "Amatic SC", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}


.container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.term_box {
    max-width: 460px;
    background-color: #e0d0e8;
    color: black;
    padding: 60px 30px;
}

.term_text {
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.term_text::-webkit-scrollbar {
    width: 2px;
    background-color: #e0d0e8;
}

.term_text::-webkit-scrollbar-thumb {
    background-color: #873260;
}



.btn {

    color: #873260;

    display: flex;
    padding: 20px 20px;
    justify-content: space-evenly;
    align-items: center;
}

.red_btn {
    transition: .3s linear;
    height: 50px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    background-color: #873260;
    padding: 0 40px;
}

.gray_btn {
    padding: 0 40px;
    transition: .3s linear;
    height: 50px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    background-color: #D294BB;
    color: white;

}

.gray_btn:hover {
    opacity: .6;
}

.red_btn:hover {
    opacity: .6;
}